.overflow{
  overflow:hidden;
  overflow: scroll;
  overflow-y: 100px; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  scrollbar-width: 2px;
  }

.hidden{
  visibility: hidden;
}
.visible{
  visibility:visible;
}
.block{
  display: block;
  position: relative;
}
.contain1{
  margin: 20px auto 20px auto;
  align-content:space-evenly;
  display: block;
  position: relative;
}
.contain2{
  
  margin: 20px auto 20px auto;
  align-items:space-between;
  display: flex;
  position: relative;
}
.coverPic{
  width: 300px;
  height: 300px;
  max-width: 300px;
  max-height: 300px;
  min-height: 150px;
  border-radius: 50px;
  border-color: black;
  border-width: 5px;
  z-index: 3;
  position: relative;
  display: block;
  align-items: center;
  border-style:solid ;
  margin: 15px auto 15px auto;
}

.dropShadow{
  box-shadow: 5px 7px rgba(0, 0, 0, 0.541);
}
.text{
  margin: 20px auto 0px auto;
  position: relative;
  align-content:space-evenly;
  color:red;
  display: flex;
}
.grp{
  position: relative;
  display: flex;
  margin: 0px auto 0px auto;
  left:0px;
  align-content: center;
  max-width: 400px;
}
.logo{
  width:400px;
  height: 200px;
  border-style: none;
  border-radius: 50px;
  margin:10px 10px 10px 10px;
  position:relative;
  display: flex;
}
.selector-for-some-widget {
  box-sizing: content-box;
}
.Area{
  margin: 10px auto 10px auto;
  width: 300px;
}
.textArea{
  width:300px;
  height: 225px;
  background-color: white;
  border-radius: 25px;
  margin: 10px auto 10px auto;
  padding: 20px;
}
.back {
  color:gray;
  text-decoration: none;
  text-align: left;
  width: fit-content;
  max-width: max-content;

}
.border{
  width: fit-content;
  max-width: max-content;
  border-style: solid;
  background-color: whitesmoke;

}

.icon{
    width: 30px;
    position: relative;
    margin:5px 15px 0px 0px;
}
html{
  background-color: whitesmoke;
}
body{
    background-color: transparent;
    width: auto;
    height:auto;
    width: fit-content;
    max-width: max-content;
}

.background{
    width: fit-content;
    max-width: max-content;
    align-items: center;
    position: center;
    padding:0px 45% 0px 45%;
    background-repeat: no-repeat;
    background-position: top;
    margin: 10px auto 10px auto;
    background-color: whitesmoke;
    margin:50%;

}
.align{
    padding: 100px;
}
.halfbutton2{
    width: 300px;
    text-align: center;
    max-width: 300px;
    min-width: 140px;
    height: 50px;
    position: relative;
    display: flex;
    background-color: white;
    border-radius: 15px;
    margin: 0px auto 0px 10px;
}
.halfbutton1{
    width: 300px;
    text-align: center;
    max-width: 300px;
    min-width: 140px;
    height: 50px;
    position: relative;
    display: flex;
    background-color: white;
    border-radius: 15px;
    margin: 0px 10px 0px auto;
}
.button1{
  background-color: red;
  color:white;
  border-radius: 15px;
  width: 300px;
  height: 45px;
  text-align: center;
  justify-items: center;
  margin:5px;
}
.auto-align{
  margin:0px auto 0px auto;
  position: relative;
  align-items: center;
  align-content:space-evenly;
}
.button2{
  background-color: white;
  color:red;
  border-color: red;
  border-radius: 15px;
  width: 300px;
  height: 45px;
  text-align: center;
  justify-items: center;
  margin:10px;
}
.rightBtn{
    border-width: 1px;
    border-color:black;
    color:rgb(0, 20, 109);
    border-style:solid;
    background-color: white;
}
.leftBtn{
  border-width: 1px;
  background-color: rgb(0, 20, 109);
  color:rgb(0, 20, 109);
  border-style: solid;
  border-color: black;

}
.p1{
  color: rgb(0, 20, 109);
  margin:10px 0px 0px 110px;
  font-weight: 100;
  font-weight:700;
  text-decoration:none;
  margin-top:10px;
}
.p2{
  color: white;
  margin:25px auto 0px auto;
  font-size:medium;
  font-weight:medium;
  text-decoration:none;
  margin:10px;
}
.p3{
  color: black ;
   margin:25px auto 0px auto;
   font-size:medium;
   font-weight:medium;
   text-decoration:none;
   margin:10px;
}
.p4{
  color: red ;
   margin:25px auto 0px auto;
   font-size:medium;
   font-weight:medium;
   text-decoration:none;
   margin:10px;
}
p{
  font-size: medium;
  text-align: center;
  position: relative;
  margin: 10px auto 0px auto;
  text-decoration-style: solid;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.button{
    margin: 5px auto 5px auto;
    width:300px;
    height: 50px;
    background-color:white;
    border-width: 1px;
    border-style: solid;
    border-color: black;
   
    position:relative;
    border-radius: 50px;
    text-align: center;
    color: gray;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: medium;
    display: flex;
}
#button{
  margin: 5px auto 5px auto;
  width:300px;
  height: 50px;
  background-color:white;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  z-index: 2;
  position:relative;
  border-radius: 50px;
  text-align: center;
  color: gray;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: medium;
}

.cnter{

  position: relative;
  display: block;
  margin: 0px auto 0px auto;  
  align-items: center;

}
h1, h2{
    display: center;
    font-size: large;
    text-align: center;
    font-size: xx-large;
    color:rgb(0, 153, 255);
    font-weight: 100;
    font-weight:700;
    stroke-width:5px;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: black;
}
h2{
    font-size: x-large;
    margin: 20px;
    }


@media only screen and (max-width: 300px) {
  /* For mobile phones: */

.halfbutton{
  width:300px;
  text-align: center;
  min-width: 300px;
  max-width: 300%;
  height: 50px;
  position: relative;
  display: flex;
  border-radius: 50px;
  margin: 10px auto 0px auto;
}
.contain2{
  max-width: 300px;
  margin: 10px auto 10px auto;
  align-items:space-between;
  display: flex;
  position: relative;
}
.grp{
  position: relative;
  display: flex;
  align-self: center;
  padding: 0px 75px 0px 75px;
  margin: 0px auto 0px auto;
  left:0%;

}
.overflow{
  overflow:hidden;
  overflow: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
  }
}
  @media only screen and (min-width: 300px),( max-width: 668px) {
    /* For tablets: */

    .halfbutton{
      text-align: center;
      max-width:300px;
      height: 50px;
      position: relative;
      min-width: 300px;
      display: flex;
      border-radius: 50px;
      margin: 20px auto 0px auto;
      min-width:300px;
  }
  .contain2{
    max-width: 500px;
    margin: 20px auto 20px auto;
    align-items:space-between;
    display: flex;
    position: relative;
  }

  }
  
  @media only screen and (min-width: 668px),( max-width: 868px) {

    .halfbutton{
      text-align: center;
      min-width: 140px;
      height: 50px;
      position: relative;
      display: flex;
      border-radius: 50px;
      margin: 20px auto 0px auto;
      }
  .contain2{
    max-width: 300px;
    margin: 20px auto 20px auto;
    align-items:space-between;
    display: flex;
    position: relative;

  }
  }